@import '../presentation';

.presentation_logotipo{
    width: 30%;
    height:auto;
    margin: 66px auto;
}


.presentation_data{
    display:flex;
    flex-direction:row;
    margin-bottom: 23%;
}

.presentation_img{
    order: 1;
    width: 350px;
    vertical-align:end;
    margin: 0;
}

.presentation_texts{
    order: 0;
    width: 450px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-end;
}

.presentation_saludo{
    text-align:left;
    margin:0;
}

.presentation_description{
    text-align:left;
    margin-left: 0px;
    margin-bottom: 0;

}