header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $gris-oscuro;
    height: 75px;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 1;
    //box-shadow:$button-dark-shadow;
    transition: 1s;
    background-color: #ddd;
}

.header_button{
    color:$button-text-color;
    font-family: $font-family;
    font-size:$boton_text-size;
    padding: $padding-button;
    border-radius: $small-radius;
    border: none;
    cursor: pointer;  
    transition: all .2s;
    width: 122px;
    height: 31px;

}

.header_button-red{
    background-color: $rojo;
    box-shadow: $button-red-shadow;
}

.header_button-red:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(240, 89, 89, 0.2);
}

.header_button-dark{
    background-color: $gris-claro;
    box-shadow: $button-dark-shadow;
}

.header_button-dark:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.header_logo{
    width: 55px;
    height: 55px;
    border-radius: $small-radius;
    box-shadow: $button-dark-shadow;
    cursor: pointer;
}

.header_logo:hover{
    animation: shake 3s;
    animation-iteration-count: infinite;

}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
