.presentation{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color:#ddd;
    height:fit-content;
    position: relative;
    transition: 1s;
}

.presentation_data{
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.presentation_logotipo{
    width: 290px;
    height:auto;
    margin: 30px auto;
    border-radius: $normal-radius;
    box-shadow: $button-dark-shadow;
}

.presentation_img{
    width: 250px;
    height: auto;
    margin: 30px auto;
}

.presentation_texts{
    margin-bottom: 20%;
}

.presentation_saludo{
    color: #222;
    font-size: $titulo-size;
    margin: 20px auto;
    text-align: center;
}

.presentation_description{
    color: #222;
    font-size: $parrafo-size;
    text-align: center;
    margin: 20px 20px 20px 20px;
    padding: 20px auto;

}

.presentation_wave{
    position: absolute;
    bottom: -2px;
    width: 100%;

}