:root {
  /*Colores generales*/
  --color-fondo-body: #ddd;
  --color-fondo-header: #ddd;
  --color-fondo-main: #ddd;
  --color-boton-titulo:#ddd;
  --color-fondo-tarjetas:white;
  --color-fondo-tarjetas-botones:#1E323D;

  --color-texto: black;
  --azul-oscuro: #011627;
  --amarillo: #ffc342;
  --gris-claro: #2f424e;
  --gris-oscuro: #1e323d;
  --rojo: #ff685e;
  --celeste: #38b6ff;
  --naranja: #ff9e47;
  --azul-electrico: #0061ff;

  /*Colores texto*/
  --parrafo-text-color: #96a7af;
  --titulo-text-color: #fff;
  --button-text-color: #fff;

  /*Textos*/
  --titulo-size: 2.4rem;
  --parrafo-size: 1.8rem;
  --boton_text-size: 1.6rem;
  --footer-text-size: 1.4rem;

  /*Sombras*/
  --filter-imagen-proyectos: drop-shadow(0px 1px 14px rgba(0, 0, 0, 0.3));
  --button-red-shadow: 0px 0px 14px rgba(255, 104, 94, 0.33);
  --button-dark-shadow: 0px 0px 14px rgba(47, 66, 78, 0.33);
  --button-yellow-shadow: 0px 1px 4px #dfa423;
  --sombra-tarjeta-botones:0px 1px 14px #19282F;
  --filter-proyectos-card: drop-shadow(0px 1px 15px #FFFFFF);

  /*Border radius*/
  --small-radius: 12px;
  --normal-radius: 25px;
  --proyecto-img-radius: 12px 12px 56px 0px;

  /*Fuentes*/
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
  --font-family: "Roboto", sans-serif;

  /*Paddings*/
  --padding-button: 6px 25px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100vh;
}

body {
  transition: 1s;
  background-color: var(--color-fondo-body);
  font-family: var(--font-family);
  background-color: #ddd;

  //height: 100%;
  ///height: 100vh;

  //position: relative;

  //display: flex;
  //flex-direction: column;
  //flex-flow: column;

}



.dark-mode{
    --color-fondo-header: #1E323D;
    --color-fondo-main: #1E323D;
    --color-fondo-body:#1E323D !important;
}

.light-mode{
    --color-fondo-header: #ddd;
    --color-fondo-main: #ddd;
    --color-fondo-body:#ddd;
}
