header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-fondo-header);
    min-height: 75px;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 1;
    transition: 1s;
    font-weight: bold;
}

.header_button{
    color:var(--button-text-color);
    font-family: var(--font-family);
    font-size:var(--boton_text-size);
    padding: var(--padding-button);
    border-radius: var(--small-radius);
    border: none;
    cursor: pointer;  
    transition: all .2s;
    width: 122px;
    height: 31px;

}


.header_button-yellow{
    background-color: var(--amarillo);
    box-shadow: var(--button-yellow-shadow);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: black;
}

.header_button-yellow:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px #dfa4239a;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.header_button-red{
    background-color: var(--rojo);
    box-shadow: var(--button-red-shadow);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.header_button-red:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(240, 89, 89, 0.2);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.header_button-dark{
    background-color: var(--gris-claro);
    box-shadow: var(--button-dark-shadow);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: flex;
}

.header_button-dark_icon{
    width: 19px;
    border-radius: 50%;
    margin-left: 5px;
}

a{
    text-decoration: none;
}

.header_button-dark:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}

.header_logo{
    width: 55px;
    height: 55px;
    border-radius: var(--small-radius);
    box-shadow: var(--button-dark-shadow);
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}

.header_logo{
    animation: shake 5s;
    animation-iteration-count: infinite;

}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    
}
