.proyectos{
    //height: calc(100% - 250px);
    //min-height: calc(100vh - 250px);
    //height: calc(100vh - 250px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: var(--color-fondo-main);
    transition: 1s;
    
}

.proyectos_title{
    margin: 40px auto;
    color: var(--titulo-text-color);
    background-color: var(--color-fondo-titulo);
    padding:5px 20px;
    border-radius: var(--normal-radius);
    filter: var(--filter-sombra-negra);
}

.proyectos_cards{
    //border: 10px saddlebrown solid;
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
}

.proyecto_card{
    margin: 30px;
    width: 292px;
    background-color: var(--color-fondo-tarjetas);
    border-radius: var(--small-radius);
    filter: var(--filter-proyectos-card);
}

.proyecto_card_img{
    display: block;
    width: 100%;
    border-radius: var(--proyecto-img-radius);
    filter: var(--filter-imagen-proyectos);
    padding: 10px;
}

.proyecto_card_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    //margin: 10px;
}

.proyecto_card_title{
    font-size: var(--card-proyecto-title);
    color: var(--card-title-color);
}

.proyecto_card_links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 15px auto;
}

.proyecto_card_link{
    width: 50px;
    background-color: var(--color-fondo-tarjetas-botones);
    padding: 11px;
    box-shadow: var(--sombra-tarjeta-botones);
    border-radius: var(--small-radius);
}

.proyecto_card_techs{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 7px;
}

.proyecto_card_tech{
    font-size: var(--card-tech-font-size);
    //color: var(--card-tech-color);
    background-color: brown;
    padding: 5% 10%;
    border-radius: var(--small-radius);
    color: var(--card-tech-color);
}

.proyecto_card_tech-html{
    background-color: var(--rojo);
}
.proyecto_card_tech-css{
    background-color: var(--celeste);
}
.proyecto_card_tech-js{
    background-color: var(--amarillo);
    color: black;
}