.proyectos{
    //height: calc(100% - 250px);
    min-height: calc(100vh - 250px);
    //height: calc(100vh - 250px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: var(--color-fondo-main);
    transition: 1s;
    
}

.proyectos_title{
    margin: 40px auto;
    color: var(--titulo-text-color);
}

.proyectos_cards{
    border: 10px saddlebrown solid;
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
}

.proyecto_card{

    margin: 100px;
}

.proyecto_card_img{
    min-width: 100px;
}